@charset "utf-8";

/*ν—¤λ”*/
#header{
    width:100%;
    height:46px;
    position:absolute;
    z-index:1;
    text-align:center;
}
.logo{
    position:absolute;
    height:46px;
    width:46px;
    left:50%;
    margin-left:-23px;
}
.logo a{display:block;}
.logo img{    
    width:46px;
}
.panel{
    position:absolute;
    top:0;
    margin-left:8px;
}
.panel span{
    width:25px;
    height:2px;
    background:#fff;
    text-indent:-9999px;
    display:block;
}
.panel p::before,.panel p::after{
    content:"";
    display:block;
    width:25px;
    height:2px;
    background:#fff;
    margin:8px 0;
}

.panelWrap{
    width:100%;
    height:100%;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
}
.panelBg{
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
}
.panelMenu{
    width:0px;
    height:100%;
    overflow:hidden;
    position:fixed;
    left:0;
    top:0;
    background:#fff; 
    padding-top:50px;
    transition:width 0.5s;
}
.panelMenu li{
    width:150px;
    margin:20px auto;
}
.panelMenu li a{color:#333;}


/*ν‘Έν„°*/
#footer{background:#e1e1e1;}
.fTxt{
    padding:30px 20px;
    font-size:11px;
    color:#A3A3A3;
}
.fTxt p{margin-top:5px;}
.fTop{}
.fTop a{color:#A3A3A3;}
.fTop a span{margin-right:5px;}
.fTop::after{
    content:"";
    display:block;
    width:30px;
    height:2px;
    background:#A3A3A3;
    margin-top:20px;
}
.fInfo{margin-top:20px;}
.fInfo p{}
.fTxt>p{margin-top:20px;}
