@charset "utf-8";

/*메인슬라이더*/
.mainSlider{
    width:100%;
    position:relative;
}
.mainSlider img{
    width:100%;
}
.sliderBar{
    width:160px;
    height:2px;
    background:rgba(255,255,255,0.5);
    position:absolute;
    bottom:30px;
    left:50%;
    margin-left:-80px;
    text-indent:-9999px;
}
.bar{
    width:40px;
    height:2px;
    background:#000;
    position:absolute;
    left:0;
    top:0;
}

/*메인컨텐츠공통*/
.mainCon{
    margin:50px 20px;
    position:relative;
}
.mainCon h2{
    font-size:20px;
    display:inline-block;
    margin-bottom:20px;
}
.mainCon span{
    font-size:14px;
    margin-left:5px;
}
.arrow{
    position:absolute;
    right:0;
    margin-top:3px;
}
.arrow img{width:10px;}

/*신상품*/
.newProduct{}
.newImg{
    width:100%;
}
.newImg li{
    float:left;
    width:calc(50% - 5px);
    margin-right:10px;
}
.newImg li:last-child{margin-right:0;}
.newImg li a{}
.newImg li img{
    width:100%;
    display:block;
}

/*이벤트배너*/
.event{
    width:100%;
}
.event a{}
.event img{
    width:100%;
    display:block;
}

/*뉴스*/
.news{}
.newsList{
    background:#f3f3f3;
    margin-top:5px;
    font-size:14px;
    padding:10px;
    box-sizing:border-box;
}
.newsList dt{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:70%;
    display:inline-block;
}
.newsList dt a{}
.newsList dd{
    display:inline-block;
    position:absolute;
    right:10px;
}

/*레시피*/
.recipeWrap{
    background:#f8efd4;
    border-radius:40px;
    margin:0 5px;
}
.recipe{padding:20px 0;}
.subTit{}
.subTit img{
    width:15%;
    vertical-align:middle;
    margin-right:5px;
}
.subTit p{
    display:inline-block;
    width:80%;
    font-size:14px;
    font-weight:bold;
}
.videoWrap{margin:10px 0;}
.youtube{
    width:100%;
    height:200px;
    text-align:center;
}
.slideBtnWrap{text-align:center;}
.slideBtn{display:inline-block;}
.slideBtn li{
    float:left;
    width:10px;
    height:10px;
    margin-right:20px;
    background:url(../images/recipeSlider_1.png) no-repeat center center;
    text-indent:-9999px;
}
.slideBtn li:last-child{margin-right:0;}
.btn a{
    display:block;
}
.slideBtn .btn1{}
.slideBtn .btn2{background-image:url(../images/recipeSlider_2.png);}
.slideBtn .btn3{background-image:url(../images/recipeSlider_2.png);}

/*인스타그램*/
.insta{}
.instaImgWrap{
    display:flex;
    overflow:hidden;
    flex-wrap:wrap;
}
.instaBox{
    width:calc(33% - 1px);
    margin-right:2px;
    margin-bottom:2px;
}
.instaBox:nth-child(3n){margin-right:0;}
.instaBox a{}
.instaBox a img{
    width:100%;
    display:block;
}
















